
<% @experiences.each do |experience| %>
    <section class="experience">
        <div class="summary">
            <h2><%= link_to experience.title, experience %> </h2>

            <h3>
                <%= day_and_time(experience) %> in <%= experience.location %>
            </h3>

            <span class="price"><%= price(experience) %></span>
            
            <p><%= experience.description %></p>
        </div>
    </section>
<% end %>

<section class="admin">
    <%= link_to 'Add New Experience', new_experience_path, class: "button" %>
</section>