
<% @experiences.each do |experience| %>
    <section class="experience">
        <div class="summary">
            <h2><%= experience.title %> </h2>

            <h3>
                <%= day_and_time(experience) %> in <%= experience.location %>
            </h3>

            <span class="price"><%= price(experience) %></span>
            
            <p><%= experience.description %></p>
        </div>
    </section>
<% end %>
