<% @experiences.each do |experience| %>
    <section class="experience">
        <div class="summary">
            <div class="image">
                <%= link_to image_tag(experience.image_file_name), experience %>
            </div>
            <span class="stars">
                <%= render "shared/stars", percent: experience.average_stars_as_percent %>
                <div class="rating">
                    <%= experience.average_stars %>
                </div>
            </span>
            <h2><%= link_to experience.title, experience %> </h2>
            <%= price(experience) %>
        </div>
    </section>
<% end %>

<section class="admin">
    <%= link_to 'Add New Experience', new_experience_path, class: "button" %>
</section>