<section class="experience-details">
    <div class="details">
        <h1><%= @experience.title %></h1>
    </div>
    <div class="image">
        <%= image_tag @experience.image_file_name %>
    </div>
    <div class="details">
        <h2>
            <%= render "shared/stars", percent: @experience.average_stars_as_percent %>
            <%= pluralize(@experience.capacity, "spot") %> &bull;
            <%= price(@experience) %>
        </h2>

        <h3>
            <%= day_and_time(@experience) %> in <%= @experience.location %>
        </h3>

        <p>
            <%= @experience.description %>
        </p>

        <div class="register">
            <%= register_or_sold_out(@experience) %>
            <p>
                <%= link_to "Who's registered", experience_registrations_path(@experience) %>
            </p>
        </div>

        <aside>
            <% if @likers.present? %>
                <h4>Liked By</h4>
                <ul>
                    <% @likers.each do |user| %>
                        <li>
                            <%= link_to user.name, user %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </aside>
        
    </div>
</section>

<% if current_user_host?  %>
    <section class="host">
        <%= link_to 'Edit', edit_experience_path(@experience), class: "button" %>
        <%= link_to 'Delete', @experience, class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </section>
<% end %>
