<section class="experience-details">
    <div class="details">
        <h1><%= @experience.title %></h1>
        <h2>
            <%= price(@experience) %>
        </h2>
        <h3>
            <%= day_and_time(@experience) %> in <%= @experience.location %>
        </h3>
        <p>
            <%= @experience.description %>
        </p>
    </div>
</section>

<section class="admin">
    <%= link_to 'Edit', edit_experience_path(@experience), class: "button" %>
    <%= link_to 'Delete', @experience, class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</section>